*{
    font-family: 'Roboto Condensed', sans-serif;
    margin: 0;
    box-sizing: border-box;  
    scroll-behavior: smooth;
    color: white;
}
::-webkit-scrollbar{
    width: 0;
    display: none;
}
body{
    background-image: linear-gradient(45deg, #000000, #37123C,#000000, #2f4649, #000000);
    background-size: 400% 400%;
    backdrop-filter: blur(8px);
    animation: gradientBackground 12s infinite;
    
}
.section1{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.introHeader{
    position: absolute;
    opacity: 0;
    top: 0;
    width: 100vw;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    animation: fadeIn 2s forwards;
    animation-delay: 2s;
}

#logo{
    cursor: pointer;
    width: 100px; 
    height: auto;
}

.rightside{
    display: flex;
    justify-content: space-evenly;
    width: 600px;
}

.btn{
    width: 75px;
    height: 35px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.btn::before, .subInfoButton::before{
    content:"";
    position: absolute;
    left: 0;
    top: 0;
    width: 0;
    height: 0;
    border-top: 1px solid white;
    border-right: 1px solid white;
    opacity: 0;
}

.btn::after, .subInfoButton::after{
    content:"";
    position: absolute;
    right: 0;
    bottom: 0;
    width: 0;
    height: 0;
    border-bottom: 1px solid white;
    border-left: 1px solid white;
    opacity: 0;
}

.btn:hover, .subInfoButton:hover{
    transform: scale(1.1);
    transition: 1s;
}

.btn:hover::after, .btn:hover::before, .subInfoButton:hover::before, .subInfoButton:hover::after{
    animation: border-top 0.8s forwards;
}

.greeting{
    height: 300px;
    width: 1500px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    font-size: 35px;   
}
.greeting h1{
    background: linear-gradient(to right, #b289b8, #4ca7b3);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

.greeting span, .greeting p{
    animation: fadeInFromRight 1.5s forwards;
}

.greeting p{
    opacity: 0;
    animation-delay: 1s;
}

.scroll-down, #scroll-downButton{
    position: absolute;
    margin: auto;
    visibility: hidden;
}
.scroll-down{
    bottom: 80px;
    font-size: 18px;
    font-weight: 100; 
    animation: fadeIn 2s forwards;
    animation-delay: 2s;
}

#scroll-downButton{
    bottom: 40px;
    height: 25px;
    width: 25px;
    border: solid white;
    animation: fadeIn 2s forwards, heroArrow 2s infinite ease;
    border-right: none;
    border-top: none;
    animation-delay: 2s;
    cursor: pointer;
}

#scroll-downButton a{
    display: inline-block;
}

.section2{
    height: 100vh;
    background-color: rgb(0, 0, 0, 0.5);
    display: flex;
    justify-content: space-evenly;
    align-items: center; 
}

.imgColumn{
    background-color: rgb(92, 89, 89, 0.2);
    border-radius: 25px;
    height: 600px;
    width: 500px;
    position: relative;
    box-shadow: 20px 15px 15px rgba(255, 255, 255, 0.144);
    
}

#selfImage{
    bottom: 0px;
    position: absolute;
    width: 100%;
    height: auto;
    border-radius: 25px;
}

.aboutMeColumn{
    display: flex;
    flex-direction: column;
    height: 600px;
    width: 50vw;
    border-radius: 25px;
    background-color: black;
    padding: 25px;
    position: relative;
    border: solid aquamarine 2px;
}

.aboutMeColumn h1{
    font-size: 64px;
}

.subInformationButtons{
    width: 50%;
    height: 50px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.subInfoButton{
    padding: 8px;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 0 0 20px 0.2px red;
}

.subInformation{
    padding: 5px;
    overflow: auto;
    display: none;
    
}

.subInformation li{
    list-style: none;
    margin: 10px 0;
}

.subInformation span{
    font-size: 25px;
    color: rgb(42, 110, 110);
}

.aboutMeColumn h1{
    background: linear-gradient(to right, #b6f3c9, #4766f4);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

.subInformation.active{
    display: block;
    animation: fadeIn 2s forwards;
    transition: 2s;
}

.hiddenRight, .hiddenLeft{
    opacity: 0;
}

.showRight{
    animation: fadeInFromRight 1s forwards;
    transition: 5s;
    opacity: 1;
}

.showLeft{
    animation: fadeInFromLeft 1s forwards;
    transition: 5s;
    opacity: 1;
}

@keyframes rotate{
    from{
        transform: rotate(0);
    }
    to{
        transform: rotate(360deg);
    }
}

@keyframes gradientBackground{
    0%{
        background-position: 0% 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0% 50%;
    }
}

@keyframes fadeIn{
    from{ 
       opacity: 0;
    }
    to{
        opacity: 1;
        visibility: visible;
    }
}

@keyframes fadeInFromRight{
    from{
        transform: translateX(50%); 
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

@keyframes fadeInFromLeft{
    from{
        transform: translateX(-50%); 
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

@keyframes border-top{
    0%{
        opacity: 0;
        width: 0%;
        height: 0%;
    }
    50%{
        opacity: 1;
        width: 100%;
        height: 0%;
    }
    100%{
        opacity: 1;
        width: 100%;
        height: 33px;
    }
}

@keyframes heroArrow{
    0%{
        opacity: 0;
        transform: rotate(-45deg); 
    }
    50%{
        opacity: 1;
        transform: rotate(-45deg);
    }
    100%{
        opacity: 0;
        transform: translateY(50%) rotate(-45deg);
    }
}
