*{
    font-family: 'Roboto Condensed', sans-serif;
    margin: 0;
    box-sizing: border-box;  
    scroll-behavior: smooth;
    color: white;
}
::-webkit-scrollbar{
    width: 0;
}
body{
    background-image: linear-gradient(45deg, #000000, #37123C,#000000, #2f4649, #000000);
    background-size: 400% 400%;
    backdrop-filter: blur(8px);
    animation: gradientBackground 12s infinite;
    
}
.section1{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.introHeader{
    position: absolute;
    top: 0;
    width: 100vw;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.leftside img{
    cursor: pointer;
}

.rightside{
    display: flex;
    justify-content: space-evenly;
    width: 600px;
}

.btn{
    width: 75px;
    height: 35px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.btn::before{
    content:"";
    position: absolute;
    left: 0;
    top: 0;
    width: 0;
    height: 0;
    border-top: 1px solid white;
    border-right: 1px solid white;
    opacity: 0;
}

.btn::after{
    content:"";
    position: absolute;
    right: 0;
    bottom: 0;
    width: 0;
    height: 0;
    border-bottom: 1px solid white;
    border-left: 1px solid white;
    opacity: 0;
}

.btn:hover{
    transform: scale(1.1);
    transition: 1s;
}
.btn:hover::after, .btn:hover::before{
    cursor: pointer;
    animation: border-top 2s forwards;
}
.greeting{
    height: 300px;
    width: 1500px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    font-size: 35px;
    
}
.greeting h1{
    background: linear-gradient(to right, #b289b8, #4ca7b3);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    animation: fadeInFromRight 1.5s forwards;
}

.greeting p{
    animation: fadeInFromRight 1.5s forwards;
    animation-delay: 1s;
}

.scroll-down, #scroll-downButton{
    position: absolute;
    margin: auto;
    animation: fadeIn 2s forwards;
    visibility: hidden;
}
.scroll-down{
    bottom: 80px;
    font-size: 18px;
    font-weight: 100;
    animation-delay: 2s;
}

#scroll-downButton{
    bottom: 50px;
    height: 20px;
    width: 20px;
    border: solid white;
    transform: rotate(-45deg);
    border-right: none;
    border-top: none;
    animation-delay: 2s;
    cursor: pointer;
}

#scroll-downButton a{
    display: inline-block;
}

.section2{
    height: 1000px;
    width: auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.aboutMe{
    width: 600px;
    height: 700px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: black 0.5;
    position: relative;
    border-radius: 20px;
    overflow: hidden;
}

.aboutMeContent{
    z-index: 2;
    padding: 5%;
    text-align: center;
    font-size: 1.5em;
}

.aboutMeContent p{
    font-weight: 300;
}

.aboutMe::before{
    content: "";
    position: absolute;
    width: 90%;
    height: 140%;
    background: linear-gradient(45deg, pink, blue);
    animation: rotate 12s linear infinite;
}

.aboutMe::after{
    content:'';
    position: absolute;
    background: rgb(0, 0, 0);
    inset: 5px;
    border-radius: 16px;
}

.aboutMeContent h2{
    background: linear-gradient(to right, rgb(230, 77, 103), rgb(190, 114, 109));
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

@keyframes rotate{
    from{
        transform: rotate(0);
    }
    to{
        transform: rotate(360deg);
    }
}

@keyframes gradientBackground{
    0%{
        background-position: 0% 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0% 50%;
    }
}

@keyframes fadeIn{
    0%{ 
       opacity: 0;
    }
    100%{
        opacity: 1;
        visibility: visible;
    }
}

@keyframes fadeInFromRight{
    0%{
       transform: translateX(25%); 
       opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

@keyframes border-top{
    0%{
        opacity: 0;
        width: 0%;
        height: 0%;
    }
    50%{
        opacity: 1;
        width: 100%;
        height: 0%;
    }
    100%{
        opacity: 1;
        width: 100%;
        height: 33px;
    }
}
