*{
    
    font-family: 'Libre Franklin', sans-serif;
}
body{
    margin:0;
}
a{
    color: white;
    text-decoration:none;
}
a:hover, button:hover{
    background-color: white;
    color:black;
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.section1{
    background-color: #1f2937;
    
}
button{
    background-color: #3882F6;
    color: white;
    border: solid 1px white;
    height: 25px;
    width: 75px;
}
.header{
    display:flex;
    justify-content: space-between;
    color: white;
    display: flex;
    
}
.links{
    display: flex;
    justify-content: space-between;
    width: 600px;
}
.mainAttentionCatch{
    display:flex;
    justify-content: center;
    align-items: center;
    gap:50px;
    color:white;
    height: 350px;
    animation: fadeInAnimation 4s;
}
.awesomeWebsite{
    width: 400px
}
.section2{
    display: flex;
    flex-direction: column;
    background-color: white;
    align-items: center;  
    animation: fadeInAnimation 4s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
}
.squaresContainer{
    display: flex;
    justify-content: space-evenly;
    width: 75%;
}
.square1 img, .square2 img, .square3 img, .square4 img{
    border-radius: 15px;
    
}
.square1 img:hover, .square2 img:hover, .square3 img:hover, .square4 img:hover{
    transform: scale(1.05);
    box-shadow: 0 0 30px gold;
}
.section3{
    background-color: #e5e7eb;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 36px;
    height: 350px;
    
}
.quoteContainer{
    width: 50%;
    font-style: italic;
    animation: fadeInAnimation 4s;
    animation-delay: 1.5s;
    animation-fill-mode: forwards;
}
.quoteAuthorContainer{
    display:flex;
    align-items:flex-end;
    font-weight: bold;
    margin-inline-start: 29%;
    animation: fadeInAnimation 4s;
    animation-delay: 1.5s;
    animation-fill-mode: forwards;
}

.section4, .section4Content, .callToAction{
    display:flex;
    justify-content: center;
    align-items: center;
}
.section4{
    height: 250px;
}
.section4Content{
    width:65%;
    color: white;
}
.callToAction{
    background-color: #3882F6;
    border-radius: 10px;
    width: 100%;
    justify-content: space-evenly;
    height:100px
    
}
.footerSection{
    display:flex;
    background-color: #1f2937;
    color: white;
    justify-content: center;
    align-items: center;
    height: 100px;
}


@keyframes fadeInAnimation{
    from{
        visibility: hidden;
        opacity: 0;
        transform: rotateX(-20deg);
        transform: translate(20%);
    }
    to{
        visibility: visible;
        opacity: 1;
        transform: rotateX(0);
    }
}